/* form */

form {
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

form ul {
    display: flex;
}

form li {
    list-style: none;
    flex: 1 1 auto;
}

form .categories li::before, form .categories li::after {
    content: "\25C6";
    margin: 0 3px;
    font-size: 0.5em;
    vertical-align: super;
}

form input[type=checkbox] {
    margin-right: 5px;
}

form input[type=submit] {
    margin-top: 20px;
}

/* list */

.list {
    padding: 0;
    position: flex;
}

.list .card {
    width: 33%;
    display: inline-flex;
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
}

.list a {
    text-decoration: none;
    padding: 5% 10%;
    color: initial;
}

.list .card .age {
    display: block;
    position: relative;
    line-height: 2em;
    font-size: 1.5em;
}

.list .card .age::before {
    content: '';
    width: 15%;
    height: 3px;
    display: inline-block;
    background: linear-gradient(to right, #2a2927, #f1c589);
    position: absolute;
    left: 0;
    top: 1em;
}

.list .card .age::after {
    content: '';
    width: 15%;
    height: 3px;
    display: inline-block;
    background: linear-gradient(to right, #2a2927, #f1c589);
    text-align: right;
    position: absolute;
    right: 0;
    top: 1em;
}

.list .card img {
    max-width: 100%;
}

.list .card .name {
    font-weight: bolder;
    display: block;
    font-size: 1.2em;
}

.pagination {
    font-size: 1.5em;
    text-align: right;
    margin-right: 5%;
    font-family: "BluuNext-Bold";
}

.pagination a {
    padding: 0;
}

.pagination a::after {
    content: "\25C6";
    font-size: 10px;
    vertical-align: baseline;
    margin-left: 1%;
}

.pagination span:last-child a::after {
    content: "";
}

.pagination .current {
    font-size: 2em;
}

/* detail */

.detail-card {
    position: relative;
}

.detail-card h1 {
    text-align: center;
}

.detail-card h3 {
    text-align: left;
}

.profilblock {
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.detail-card .profil {
    width: 100%;
}

.detail-card .race.SF {
    display: block;
    background-image: url("images/sf.jpg");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    font-size: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50px;
    bottom: -50px;
}

.detail-card .categorie {
    background: radial-gradient(#c11f18, #5b1017);
    padding: 7px;
    margin-top: 20px;
    margin-left: 10%;
    color: white;
}

.detail-card .categorie::before, .detail-card .categorie::after {
    content: "\25C6";
    margin: 0 3px;
    font-size: 0.5em;
    line-height: 1.3em;
    vertical-align: middle;
}

.detail-card .human-linked, .detail-card .projections, .detail-card .osteopathy-status {
    display: flex;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    max-width: 600px;
}

.detail-card .human-linked>*, .detail-card .projections>*, .detail-card .osteopathy-status>* {
    flex: 1 1 auto;
    display: block;
}

.detail-card .individual {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.6em;
}

/* projection */

.detail-card .projections>*>span, .detail-card .osteopathy-status>*>span {
    display: block;
}

.detail-card .projections .value, .detail-card .osteopathy-status .value {
    font-weight: bold;
    font-size: 2em;
    font-family: "BluuNext-Bold";
}

.detail-card .size::after {
    content: "m";
}

.detail-card table {
    max-width: 100%;
}

/** pedigree */

.detail-card #pedigree>* {
    display: flexbox;
}

.detail-card #pedigree .self {
    width: 25%;
    flex: 1 1 auto;
}

.detail-card #pedigree .self * {
    display: block;
}

.detail-card #pedigree .parents {
    width: 74%;
    border: solid black 1px;
}

/* contact */

.detail-card #contact span {
    text-align: center;
    display: block;
}

.detail-card #contact .name {
    font-weight: bold;
}

/* pedigree */

.detail-card #pedigree table {
    border: solid lightgray 1px;
    background-image: none;
    background-color: lightgray;
    width: 80%;
    margin: auto;
}

.detail-card #pedigree td>* {
    display: block;
    text-align: center;
}

/** strong point */

.detail-card #strong_points ul {
    list-style: none;
    text-align: center;
}

/** maternal */

.mother-notes {
    background-image: linear-gradient(to bottom, #2a2927, #f1c589);
    width: 80%;
    margin: auto;
    text-align: center;
}

.mother-notes {
    background-image: linear-gradient(to bottom, #2a2927, #f1c589);
    border-spacing: 0px 0px;
    background-color: tomato;
    border: 0;
}

.mother-notes tr:nth-child(2) td {
    border-right: solid 1px #c69e6b;
}

.mother-notes .total {
    font-weight: bold;
    vertical-align: top;
}

.mother-notes .exponant {
    vertical-align: super;
    font-size: smaller;
}

/* sf judges */

.root-notation {
    font-size: 1.3em;
    line-height: 1.6em;
    position: relative;
}

.back {
    background: radial-gradient(#f1c589, #2a2927);
    position: absolute;
    top: 120px;
    left: 30%;
    bottom: 0;
    right: 30%;
    z-index: -1;
}

#testing .back {
    flex: none;
    margin: inherit;
    top: 20px;
}

#testing>div {
    position: relative;
}

#testing .global-impression::before {
    text-decoration: none;
    content: '';
    display: inline-block;
    background: linear-gradient(to right, #2a2927, #f1c589, #2a2927);
    height: 2px;
    width: 20%;
    position: absolute;
    transform: translate(-25%);
}

.root-notation>div {
    display: flex;
    padding: 0px;
}

.root-notation>div>div {
    flex: 1 1 auto;
    display: inline-block;
    width: 50%;
    padding: 40px;
    background-color: white;
}

.root-notation>div>div {
    margin-left: 1px;
    margin-right: 0px;
    margin-bottom: 1px;
    margin-top: 0px;
}

#testing.root-notation>div>div {
    margin-bottom: 0px;
}

.root-notation>div:last-child>div {
    margin-bottom: 0px;
    margin-top: 1px;
}

.root-notation>div>div:first-child {
    text-align: right;
    margin-right: 1px;
    margin-left: 0px;
}

.root-notation>div>div:first-child h3 {
    float: right;
}

.root-notation>div>div .notation {
    float: left;
    clear: both;
    display: block;
    width: 400px;
    text-align: left;
}

.root-notation>div>div:first-child .notation {
    float: right;
}

.root-notation>div>div:first-child>.notation {
    float: right;
    clear: both;
    display: block;
}

.notation {
    background-image: url("images/dash.png");
    background-repeat: repeat-x;
    background-position: center;
}

.notation>* {
    background-color: white;
}

.notation>.value {
    width: 40px;
    text-align: right;
}

.notation+* {
    clear: both;
}

.cso pre {
    padding-top: 20px;
}

.notation .label {
    display: inline-block;
    max-width: 350px;
}

.root-notation>div>div .notation .value {
    float: right;
}

.root-notation>div>div:first-child>div span:last-child, .detail-card .freejump .value, .root-notation>div>div:first-child>div>pre {
    float: right;
    clear: both;
}

.root-notation pre {
    max-width: 80%;
}

.root-notation>div>div:first-child>div>pre {
    text-align: right;
}

.root-notation .value {
    font-weight: bold;
}

.root-notation .global-impression, .root-notation .temperament {
    display: block;
    text-align: center;
}

.root-notation .global-impression div, .root-notation .temperament div {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.root-notation .global-impression div pre, .root-notation .temperament .comment pre {
    max-width: 100%;
}

.root-notation .temperament .notation {
    float: none;
    margin: auto;
    width: 475px;
}

.root-notation .temperament .notation>.value {
    width: max-content;
}

.root-notation .temperament .comment {
    display: block;
    clear: both;
}

.root-notation .temperament .comment .label {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

.root-notation .temperament .comment .label::after {
    content: ' :';
}

.root-notation .temperament .comment pre {
    text-align: center;
    margin-top: 5px;
}

/* galerry */

.gallery {
    margin-top: 70px;
}

.gallery #zoom {
    width: 80%;
    margin: auto;
    display: block;
}

.gallery .thumbnail {
    overflow-x: auto;
    width: 80%;
    margin: auto;
    display: block;
    white-space: nowrap;
}

.gallery .thumbnail img {
    max-width: 20%;
}

video {
    display: block;
    width: 80%;
    margin: auto;
}